# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables & virtual environments
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor configuration
.vscode/
.idea/
*.swp
*.swo

# Database & SQLite files
*.sqlite3
*.db

# Logs & dumps
*.log
